body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

#start-app{
    padding: 06px 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#start-app:hover{
    background-color: white;
    color: black;
}

.box{
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-top: 0;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}

#timer{
    position: absolute;
    top: 39.5%;
    right: 39.8%;
    font-size: 12px;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}