*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0617272d;
}

.slider{
    position: relative;
}

.active{
    display: block !important;
}

.slider-img{
    display: none;
}

.slider-img .img-content button{
    border: 2px solid #54D12E;
    color: white;
    font-weight: 500;
    transition: all 0.7s ease;
}

.slider-img .img-content button:hover{
    border: 2px solid #ffffff;
    background-color: #54D12E;
    color: #000000;
    font-weight: 500;
}

.height{
    height: 90vh;
    object-fit: cover;
}

.slider .prev, .slider .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #ffffff8e;
    border-radius: 5px;
    padding: 30px 10px;
}

.slider .next{
    right: 0;
}

footer .icons i{
    margin-left: 10px;
    transition: all 0.3s ease;
}

footer .icons i:hover{
    color: #0d6efd;
}