.active{
    display: block !important;
}

.slider-img{
    display: none;
}

.slider-img img{
    width: 100%;
    position: relative;
    object-fit: cover;
}

.slider-img .img-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
}

.slider-img .img-content button{
    background: none;
    border: 2px solid #54D12E;
    color: white;
    font-weight: 500;
    transition: all 0.7s ease;
}

.slider-img .img-content button:hover{
    border: 2px solid #ffffff;
    background-color: #54D12E;
    color: #000000;
    font-weight: 500;
}

.height{
    height: 90vh;
    object-fit: cover;
}

.slider .prev, .slider .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #ffffff8e;
    border-radius: 5px;
    padding: 30px 10px;
}

.slider .next{
    right: 0;
}